{{!< default}}

<div class="container">
    {{#if @page.show_title_and_feature_image}}
    <div class="page-header">
        <h1 class="page-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="page-desc">{{custom_excerpt}}</p>
        {{/if}}
        {{#if feature_image}}
            <img class="post-feature-image" src="{{feature_image}}" alt="{{title}}">
        {{/if}}
    </div>
    {{else}}
    <div class="page-header">
        <h1 class="page-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="page-desc">{{custom_excerpt}}</p>
        {{/if}}
    </div>
    {{/if}}
    <div class="page-content">
        {{content}}
    </div>
</div>
